.title {
    font-size: var(--m-font-size);
    font-weight: 700;
}

.card {
    width: 35.26vw;
    height: 19.58vw;
    padding: 1.41vw 1.77vw;
    position: relative;
    transition: border-radius .3s ease, box-shadow .3s ease;
    cursor: pointer;

    &:hover {
        border-radius: 1vw;
        box-shadow: 0 1vw 1vw -0.31vw rgba($color: #000000, $alpha: .1);
    }

    .img {
        position: absolute;
        right: -1.51vw;
        bottom: -5.73vw;
    }

    p {
        max-width: 13.54vw;
        margin-top: 1.25vw;
    }
}