.welcome {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20vw;
    padding-bottom: 3.44vw;
    height: 46.46vw;
    box-sizing: border-box;
    background-color: var(--black-bg-color);
    border-bottom-left-radius: 31.25vw;
    border-bottom-right-radius: 31.25vw;
}

@media screen and (max-width: 500px) {
    .welcome {
        height: 40vh;
        border-bottom-left-radius: 25vw;
        border-bottom-right-radius: 25vw;

        .imgDiv img {
            width: fit-content;
            height: fit-content;
        }
    }
}