:root {
    --black-bg-color: #000;
    --white-bg-color: #F9FFFF;
    --unfocus-color: #979797;
    --green-color: #37DE6A;
    --orange-color: #FFA040;
    --pink-color: #EB3B8B;

    --base-font-size: 16px;
    --s-font-size: 1.25em;
    --m-font-size: 2em;
    --x-font-size: 3em;
    --xl-font-size: 6.13em;

    --s-inline-padding: max(60px, 100vw - 1860px);
    --base-inline-padding: max(260px, 100vw - 1660px);
}

img,
svg,
video {
    display: block;
    max-width: 100%;
}

body {
    background-color: var(--white-bg-color);
}

ul {
    display: flex;
}

a {
    text-decoration: none;
}