:root {
    --black-bg-color: #000;
    --white-bg-color: #F9FFFF;
    --unfocus-color: #979797;
    --text-shade-color: #404040;
    --green-color: #37DE6A;
    --green-shade-color: #237C3E;
    --orange-color: #FFA040;
    --pink-color: #EB3B8B;

    --base-font-size: 16px;
    --s-font-size: 1.25em;
    --m-font-size: 2em;
    --x-font-size: 3em;
    --xl-font-size: 6.13em;

    --s-inline-padding: max(3vw, 100vw - 1860px);
    --base-inline-padding: max(10vw, 100vw - 1660px);
    --x-inline-padding: max(15vw, 100vw - 1560px);
}

@media screen and (max-width: 500px) {
    :root {
        --base-font-size: 12px;
        --m-font-size: 1.5em;
        --x-font-size: 2em;
        --xl-font-size: 3em;
    }

    section,
    header,
    footer {
        overflow: clip;
    }
}

* {
    font-size: var(--base-font-size);
}

img,
svg,
video {
    display: block;
    max-width: 100%;
}

html {
    scroll-behavior: smooth !important;
}

body {
    background-color: var(--white-bg-color);
}

ul {
    display: flex;
}

a {
    text-decoration: none;
}

.img-wrapper {
    overflow: clip;
}

::selection {
    background-color: var(--green-color);
    color: var(--black-bg-color);
}

::-moz-selection {
    background-color: var(--green-color);
    color: var(--black-bg-color);
}

::-webkit-scrollbar {
    width: .5vw;
}

::-webkit-scrollbar-track {
    background-color: var(--black-bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--green-color);
}