.footer {
    height: 46.46vw;
    background-color: var(--black-bg-color);
    border-top-left-radius: 31.25vw;
    border-top-right-radius: 31.25vw;
    margin-top: 7.81vw;

    * {
        color: var(--white-bg-color);
    }
}